* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all { 
    
    width: 1000px;
    height: 700px;
    border: 1px dotted red;
    margin: 0 auto;
} 

.left-navbar {
    width: 200px;
    height: 600px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    overflow: auto;
}

.picture {
    position: relative; 
    top: 30px;
    left: 25px;
    width: 150px;
    height: 200px;
    border: 1px solid mistyrose;
}

.info-text { 
    font-family: 'Song Myung', serif;
    position: relative;
    top: 25px;
    display: block;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

.menu {
    position: relative;
    top: 80px;
}

.menu a {
    font-family: 'Song Myung', serif;
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

.menu a:hover, .menu a:focus {
    color: mistyrose;
    transition: 0.3s;
}

div.content {
    position: fixed;
    width: 800px;
    height: 396px; /* left-navbar는 높이가 600px인데 왜 이래야 맞지? */
    margin-left: 200px;
    padding: 100px 100px;
    border: 2px solid black;
    overflow: hidden;
}

.content-inline { /* 내용 여백주려면 또 div만들어서 해야하나? */
    text-align: center;
    width: 800px;
    height: 500px;
    position: relative;
    top: -55px;
    border: 1.5px solid rgb(0, 0, 0);
}
